.message {
    display: flex;
    flex-direction: row;
    position: relative;
    width: inherit;
    height: 30px;
    margin-top: 5px;
}

.sender {
    font-weight: bold;
    padding: 0px 10px;
}

.time {
    font-style: italic;
    color: gray;
    position: absolute;
    left: 80%;
}